.nav-bar {
    background-color: black;
}
.drop-down {
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: black;
}
.drop-down:hover .drop-content {
    display: block;
}
.drop-content a {
    display: block;
    color: white;
}
/* test */